<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trungnguyen.hackathonproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES"/>
    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBmt5nbG6EuJVKJOtRM-anymSdg3OPr1o" />


        <activity android:name=".ui.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        </activity>
        <activity android:name=".ui.LaunchActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        </activity>

        <activity android:name=".ui.MapsActivity">

        </activity>

        <activity android:name=".ui.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.PatientDialog"
            android:configChanges="orientation|keyboardHidden"
            android:enabled="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
        </activity>

        <service
            android:name=".service.NotificationService"
            android:enabled="true" />

        <service
            android:name=".service.NotifyService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receiver.NotifyReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":project" />

        <receiver android:name=".receiver.OnOffReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.RestartServiceReceiver"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="RestartReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>